#cont{background-color: #4D4D4A;margin:auto;width:80%;color:white;}
.imgc{display:inline-block;background-image:url('../img/cross.jpg');background-repeat: round;
margin:5.5%;height: 25%;width:22%;}
.imgd{height: 100%;width:100%;border:2px solid white;}
.imgd:active {
		-webkit-transform: scale(3);transition: all .5s;
border:10px solid white;}
.imge{height: 25%;width:22%;display:inline-block;background-color:#FFFFFF;
margin:5.5%;border:2px solid white;}
.controw{margin-left:200px;}
.jumbotron{background-image:-webkit-linear-gradient(#2AAAFF,#00FFFF);text-shadow: black 8px 4px 30px;}
.imgc:hover {
		-webkit-transform: scale(1.3) rotateZ(360deg) translate(-50%,0px);transition: all 1s;  
	}
.glyphicon-remove{cursor: pointer;color:white;border:2px solid white;}	