
*{font-family: Tahoma;}

header, section, footer, aside, nav, article, figure, figcaption {display: block;}


body{line-height: 7px;}

.caret{margin:6.5px;}

img.pport{width: 150px;height: 150px;}
img.small{width: 100px;height: 100px;}
img.medium{width:250px;height: 250px;}
img.large{width: 500px;height: 500px;}
img.align-left {float: left;margin-left: 10px;margin-right: 10px;}
img.align-right {float: right;margin-right: 10px;margin-left: 10px}




img.profpic{margin-top:10px; }
img.icn{width:20px;height:27px;}

h2.hed{margin:15px;font-family:Tahoma;letter-spacing: 4px;}
.wrapper{line-height: 17px;}

.aside{float:right;position:fixed;top:0px;left:68%;width:22%;}
    .artic {width:600px;}
    .icn-lg {width:30px;height: 30px;}
    .persn{border: 1px solid black;margin:0px;padding:10px;text-align: center;}
     ul{list-style: none; margin:0px;padding: 0px;}
    .awe{font-weight: bold;font-family: Tahoma;position: absolute;left:1050px;}
    
    
      
    
    
    #cont{margin:auto;width:70%;}
    
.jumbotron{margin-left:40px;margin-right:40px;padding:40px;}

